@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Need IT Help? Perhaps you need to make a purchase order request?</a>.</p>
    <p>Click on the tabs at the top of the page!</p>
</div>
