
<div>
    <h1>Select a Table</h1>
    <div class="d-flex flex-column">
        <label>which table would you like to view?</label>
        <div style="width: 50%">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Table Select
            </button>
            <div class="dropdown-menu my-2">
                <a class="nav-link text-dark" asp-controller="VicidialApiLog" asp-action="Index">Vicidial Api Log</a>
                <a class="nav-link text-dark" asp-controller="VicidialCampaign" asp-action="Index">Vicidial Campaign</a>
                <a class="nav-link text-dark" asp-controller="VicidialCarrierLog" asp-action="Index">Vicidial Carrier Log</a>
            </div>
        </div>
    </div>
</div>
