

<div class="container">
    <div class="row justify-content-lg-center">
        <div class="card text-center" style="width: 50%;">
            <div class="card-body">
                <h1 class="card-title">A record with that Serial Number already exists.</h1>
                <div class="my-5"></div>
                <div class="row justify-content-between">
                    <div class="col=4">
                        <a class="btn btn-warning" asp-action="Index">Back to Search</a>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-primary" asp-action="Create">Create New Record</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

