<form method="post" asp-action="Create">
    <div class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <div>
                <div class="basic-info-bg">
                    <h3 class="ml-3">Lead/Patient Information</h3>
                    <div class="form-group d-flex">
                        <div class="mx-3" asp-form="first_name">
                            <label>First Name</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="mx-3" asp-form="last_name">
                            <label>Last Name</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="mx-3" asp-form="MI">
                            <label>MI</label>
                            <input class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div asp-form="phone_number" class="p-3">
                        <p>Phone Number: *VALUE*</p>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <h4 class="q-text">Agent Notes</h4>
                        <textarea class="form-control"></textarea>
                        <span class="text-danger"></span>
                    </div>
                </div>

                <hr />
                <h4 class="q-text">Location Information</h4>
                <div class="form-group row">
                    <div asp-form="State" class="col-8">
                        <label>State</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div asp-form="Zip">
                        <label>Zip Code</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                <hr />

                <h4 class="q-text">Other Information</h4>
                <div class="form-group row">
                    <div>
                        <div class="col-4">
                            <label>Dropdown 1</label>
                        </div>
                        <div class="col-8">
                            <select>
                                <option value="Value 1">Value 1</option>
                                <option value="Value 2">Value 2</option>
                                <option value="Value 3">Value 3</option>
                                <option value="Value 4">Value 4</option>
                                <option value="Value 5">Value 5</option>
                                <option value="Value 6">Value 6</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div>
                        <div class="col-4">
                            <label>Dropdown 2</label>
                        </div>
                        <div class="col-8">
                            <select>
                                <option value="Value 1">Value 1</option>
                                <option value="Value 2">Value 2</option>
                                <option value="Value 3">Value 3</option>
                                <option value="Value 4">Value 4</option>
                                <option value="Value 5">Value 5</option>
                                <option value="Value 6">Value 6</option>
                            </select>
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Submit" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        <link rel="stylesheet" href="~/css/custom.css" />
    }
}
