
<div>
    <h1>This is the Index page of the /lead API Enpoint</h1>
    <h5>Click to "Create" a lead</h5>
    <div>
        <a asp-controller="CRM" asp-action="Create" class="btn btn-primary">
            Create/Edit Lead
        </a>
    </div>
</div>


